<h3> Register Your New Car </h3>
 <% if @car.errors.any? %>
    <p><%= "#{@car.errors.count} error(s) prevented your matchup from being saved:"%></p>
    <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_for @car do |f| %>
  <%= f.label :manufacturer_id, "Manufacturer" %>
  <%= f.collection_select :manufacturer_id, Manufacturer.all.order(:name), :id, :name, include_blank: true %></br>

  <%= f.label :color %>
  <%= f.text_field :color, required:true %></br>

  <%= f.label :year %>
  <%= f.text_field :year, required:true %></br>

  <%= f.label :mileage %>
  <%= f.text_field :mileage, required:true %></br>

  <%= f.label :description %>
  <%= f.text_field :description%></br>

  <%= f.submit 'Submit'%>

<%end%>

<p><%=link_to "Go back", cars_path%></p>
